body {
    background-image: url('img1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    
  }
.st1
{
    color:yellow;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-top: 0px;
   /* background-color: midnightblue;*/
    width: 100%;
    font-size: 100px;
    font-family: 'Lucida Sans';
    text-shadow: 0 0 10px black, 0 0 10px black;
    margin-bottom: 0px;
}
#st3
{
    margin-top: 0px;
    color:darkmagenta;
    background-color: white;
    padding-left: 10px;
    padding-right:10px;
    padding-top:4px;
    padding-bottom:4px;
    border-radius: 25px;
    border: 2px;
    border-style: solid;
    border-color: darkmagenta;
}
#st3:hover
{
    color:white;
    background-color: darkmagenta;
}
#st4
{
    padding-top: 10px;
    width: 100%;
   /* background-color: midnightblue;*/
    margin-top: 10px;
    padding-bottom: 50px;
}  
#st5
{
    background-color:darkgray;
    width: 350px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 1px;
    padding-right: 1px;
    margin-bottom: 0px;
}
#st6
{
    width: 80%;
    height:auto;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
}
#st7
{
    margin-top: 0px;
    color:green;
    background-color: white;
    padding-left: 10px;
    padding-right:10px;
    padding-top:4px;
    padding-bottom:4px;
    border-radius: 25px;
    border: 2px;
    border-style: solid;
    border-color: green;
}
#st7:hover
{
    color:white;
    background-color: green;
}
#st8
{
    background-color: green;
    color:white;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom:15px;
    padding-right: 10px;
    width:20%;
    height: auto;
    margin-left: auto;
    margin-right: 0px;
    border-radius: 10px;
}
#st9
{
    background-color:red;
    color:white;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    width:20%;
    height: auto;
    margin-left: 0px;
    margin-right: auto;
    border-radius: 10px;
}
